G2A_BASE_URL=http://127.0.0.1:8000
G2A_ADMIN_USER=admin
G2A_ADMIN_PASSWORD=change-me

REGISTER_BASE_URL=http://127.0.0.1:8787
REGISTER_PUBLIC_URL=https://grok2.081488.xyz
REGISTER_WEB_TOKEN=change-me

POOLKEEPER_DRY_RUN=1
POOLKEEPER_ONCE=0
POOLKEEPER_INTERVAL_MINUTES=30
POOLKEEPER_REPLENISH=1
POOLKEEPER_CONFIG=config.yaml
